{
  "sourceType": "unambiguous",
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "browsers": "last 2 versions" } } // or whatever your project requires
    ], 
    "@babel/preset-react", 
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel"
  ]
}
